.ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(
    to left,
    #92bff5,
    #92bff5,
    #92bff5,
    #92bff5,
    #ffffff
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  border-bottom: 1px solid black;
}

.li {
  float: left;
}

.li #a {
  display: block;
  color: #524f4f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the link color to #111 (black) on hover */
.li .Image:hover {
  background-color: #111;
}
#Logo {
  height: 50px;
  width: 50px;
}
.female {
  width: 6%;
  margin-bottom: 63%;
  border-radius: 39px;
  position: absolute;
  top: 6px;
  right: 6%;
  border: 1px solid white;
}
